body {
    background-color:  #000000;
    color           :  #FFFFFF;
    font-family     :  Georgia, serif;
 /* white-space     :  pre; */
}
table {
    border-collapse:  collapse;
}

p,div {
    margin-left:  8px;
}

canvas {
    border          :  0px solid #808080;
    background-color:  transparent;
}

table.t {
    margin-left     :  auto;
    margin-right    :  auto;
}
td.t { /* titular data */
    text-align:  center;
}

td.a {
    vertical-align:  top;
    text-align:  center;
}
td.b {
    vertical-align:  bottom;
    text-align:  center;
}

/* to overline expressions under radical signs */
span.r, i.r {
    text-decoration:  overline;
}
